.error-container{
  width: 50vw;
  height: 20vh;
  margin: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: hsl(0, 0%, 8%);
  border-radius: 10px;
  border: 3px solid white;
}
.error-container h3{
  font-size: 2rem;
  font-weight: bold;
}
.error-container p{
  font-size: 1.5rem;
  font-weight: bolder;
  color: red;
}