.car-card{
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: hsl(0, 0%, 8%);
  transition: transform 0.2s, 
              border 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.car-card:hover {
  transform: translateY(-5px);
  border: 3px solid white;
  box-shadow: 0 0 10px white;
}
.car-name{
  margin-top: 0;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.car-image {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
  width: 100%;
}

.car-image img {
  width: 95%;
  height: 95%;
  object-fit:scale-down;
}